.main {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: auto 1fr auto;

  position: relative;
}

.backgroundCover {
  height: 100%;
  width: 100%;

  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;

  will-change: background-image;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  // 壁纸
  background-image: url(/assets/wallpapers/light-background.jpg);

  :global(body.dark) & {
    // 暗色模式使用暗色版本的壁纸
    background-image: url(/assets/wallpapers/dark-background.jpg);
  }

  // 过渡效果
  transition: background-image 0.3s ease-in-out;
}
