@import '../../design-tokens/tokens';

.button {
  max-height: 100%;

  margin: 0 0.7rem !important;

  svg,
  svg path {
    height: $spacing-6;
    width: $spacing-6;

    fill: var(--app-color-light-contrast) !important;

    position: relative;
  }
}
