@import '../../design-tokens/tokens';

.header {
  display: flex;
  align-items: center;

  width: 100%;
  height: 1.4rem;

  background-color: hsla(var(--app-color-light-hsl), $opacity-30);
  // backdrop-filter: blur(12px);

  color: var(--app-color-light-contrast);
  fill: var(--app-color-light-contrast);

  button {
    font-weight: var(--token-font-weight-medium);
    font-size: var(--token-font-size-sm);
    font-family: var(--app-font-family);

    letter-spacing: var(--token-letter-spacing-wide);

    position: relative;

    height: 100%;

    text-shadow: $shadow-sm;
  }
}

.header::before {
  content: '';

  width: inherit;
  height: inherit;

  position: fixed;
  left: 0;
  top: 0;

  z-index: var(--token-z-index-base);
  backdrop-filter: blur($blur-lg);
}

.spacer {
  flex: 1 1 auto;
}

.time {
  margin: 0 $spacing-4;
}
