@import '../../../design-tokens/tokens';

.container {
  --border-size: 0;

  display: grid;
  grid-auto-rows: 1fr;
  gap: $spacing-2;

  position: relative;

  padding: $spacing-4;

  border-radius: var(--token-radius-lg);
  box-shadow: hsla(0, 0%, 0%, $opacity-30) 0px 1px 4px -1px,
    inset 0 0 0 var(--border-size) hsla(var(--app-color-dark-hsl), $opacity-30),
    0 0 0 var(--border-size) hsla(var(--app-color-light-hsl), $opacity-30);

  background-color: hsla(var(--app-color-light-hsl), $opacity-50);

  grid-column: var(--column-start) / span var(--column-span);
  grid-row: var(--row-start) / span var(--row-span);

  :global(body.dark) & {
    --border-size: $border-width-thin;
  }
}
