@import '../../../design-tokens/tokens';

.container {
  --border-size: 0;

  display: block;

  width: 19.5rem;

  padding: $spacing-5;

  position: relative;

  user-select: none;

  background-color: hsla(var(--app-color-light-hsl), $opacity-30);
  backdrop-filter: blur($blur-lg);

  border-radius: var(--token-radius-xl);

  box-shadow: hsla(0, 0%, 0%, $opacity-30) 0px 0px 11px 0px,
    inset 0 0 0 var(--border-size) hsla(var(--app-color-dark-hsl), $opacity-30),
    0 0 0 var(--border-size) hsla(var(--app-color-light-hsl), $opacity-30);

  :global(body.dark) & {
    --border-size: $border-width-thin;
  }
}
