@import '../../../design-tokens/tokens';

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(1.55rem, auto);
  gap: $spacing-5;
}

.toggle {
  --size: 1.7rem;

  height: var(--size) !important;
  width: var(--size);

  padding: 0;

  display: flex;
  place-items: center;

  border-radius: var(--token-radius-full);

  background-color: hsla(var(--bgcolor), var(--bgalpha));

  transition: box-shadow $transition-fast $ease-out;

  svg {
    fill: hsla(var(--svgcolor), var(--svgalpha));
  }

  &:focus-visible {
    box-shadow: 0 0 0 $spacing-2 hsla(var(--bgcolor), $opacity-40);
  }
}

// const Label = styled.div`
//   font-size: 0.8rem;
//   font-weight: 600;

//   color: ${theme.colors.dark.main};

//   margin: 0.3rem 0;
// `;
