@import '../../design-tokens/tokens';

.container {
  position: fixed;
  margin-bottom: $spacing-3;
  bottom: 0;
  left: 0;
  z-index: var(--token-z-index-dock);

  width: 100%;
  height: 5.2rem;

  padding: $spacing-3;

  display: flex;
  justify-content: center;
}

.dockEl {
  background-color: hsla(var(--app-color-light-hsl), $opacity-40);

  box-shadow: var(--token-shadow-dock);

  position: relative;

  padding: $spacing-3;

  border-radius: var(--token-radius-2xl);

  height: 100%;

  display: flex;
  align-items: flex-end;

  &::before {
    content: '';

    width: 100%;
    height: 100%;

    border: inherit;

    backdrop-filter: blur($blur-md);

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
  }
}

.divider {
  height: 100%;
  width: $border-width-thin;

  background-color: hsla(var(--app-color-dark-hsl), $opacity-30);

  margin: 0 $spacing-1;
}
