@import '../../design-tokens/tokens';

.box {
  background-color: hsla(var(--app-color-light-hsl), $opacity-50);

  backdrop-filter: blur($blur-sm);

  padding: $spacing-4 $spacing-5;

  border-radius: var(--token-radius-md);
  box-shadow: hsla(0deg, 0%, 0%, $opacity-30) 0px 1px 5px 2px;

  color: var(--app-color-light-contrast);
  font-family: var(--app-font-family);
  font-weight: var(--token-font-weight-medium);
  font-size: var(--token-font-size-sm);
  letter-spacing: var(--token-letter-spacing-wide);
}
