@import '../../design-tokens/tokens';

.dockItemButton {
  height: 100%;
  width: auto !important;

  cursor: var(--app-cursor-default), auto;

  transition: $transition-all;
  transition-timing-function: $ease-in;

  transform-origin: bottom;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  & > span {
    display: flex;
    place-items: center;
  }

  .tooltip {
    --double-border: 0 0 0 0 white;

    white-space: nowrap;

    position: absolute;
    top: -35%;

    background-color: hsla(var(--app-color-light-hsl), $opacity-50);
    backdrop-filter: blur($blur-sm);

    padding: $spacing-4 $spacing-5;
    border-radius: var(--token-radius-md);

    box-shadow: hsla(0deg, 0%, 0%, $opacity-30) 0px 1px 5px 2px, var(--double-border);

    color: var(--app-color-light-contrast);
    font-family: var(--app-font-family);
    font-weight: var(--token-font-weight-regular);
    font-size: var(--token-font-size-md);
    letter-spacing: var(--token-letter-spacing-wider);

    display: none;

    :global(body.dark) & {
      --double-border: var(--token-shadow-inner-md),
        0 0 0 1.2px hsla(var(--app-color-light-hsl), $opacity-30);
    }
  }

  &:hover,
  &:focus-visible {
    .tooltip {
      display: block;
    }
  }
}

.dot {
  height: $spacing-2;
  width: $spacing-2;

  margin: 0px;

  border-radius: var(--token-radius-full);

  background-color: var(--app-color-dark);

  opacity: var(--opacity);
}
