@import '../../../design-tokens/tokens';

.container {
  height: 100%;

  display: flex;
  position: relative;

  height: 100%;
}

.menuParent {
  z-index: 1;
  position: absolute;
  margin-top: 1.5px;
  
  &[data-visible='false'] {
    visibility: hidden;
  }
  
  &[data-visible='true'] {
    visibility: visible;
  }
}

.menuButton {
  font-weight: var(--token-font-weight-medium);

  border-radius: var(--token-radius-sm);

  position: relative;

  z-index: 1;

  padding: 0 $spacing-4;

  &.defaultMenu {
    font-weight: var(--token-font-weight-semibold) !important;
    margin: 0 $spacing-3;
  }

  &::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 100%;
    width: 100%;

    border-radius: inherit;

    transform: scale(var(--scale), var(--scale));
    transform-origin: center center;

    transition: $transition-transform;
    transition-duration: $transition-fast;

    background-color: hsla(var(--app-color-grey-100-hsl), $opacity-30);
  }
}

.appleIconButton {
  margin: 0 0rem 0 $spacing-4;
  padding: 0 0.7rem;
}

.menuItemWrapper {
  height: 100%;
}
