@import '../../../design-tokens/tokens';

.container {
  // Initial invisible border
  --additional-box-shadow: 0 0 0 0 white;

  display: block;

  min-width: 16rem;
  width: max-content;

  padding: $spacing-4;

  position: relative;

  user-select: none;

  background-color: hsla(var(--app-color-light-hsl), $opacity-30);
  backdrop-filter: blur($blur-3xl);

  border-radius: var(--token-radius-base);

  box-shadow: hsla(0, 0%, 0%, $opacity-30) 0px 0px 11px 0px, var(--additional-box-shadow);

  :global(body.dark) & {
    --additional-box-shadow: var(--token-shadow-inner-md),
      0 0 0 1.2px hsla(var(--app-color-light-hsl), $opacity-30);
  }
}

.menuItem {
  --alpha: 1;

  display: flex;
  justify-content: flex-start;

  width: 100%;

  padding: $spacing-1 $spacing-3;
  margin: $spacing-1;

  letter-spacing: var(--token-letter-spacing-wider);
  font-weight: var(--token-font-weight-regular) !important;
  font-size: var(--token-font-size-md) !important;

  border-radius: $radius-md;

  transition: none;

  color: hsla(var(--app-color-dark-hsl), var(--alpha));

  &.disabled {
    --alpha: $opacity-50;
  }

  &:not(.disabled) {
    &:hover,
    &:focus-visible {
      background-color: var(--app-color-primary);
      color: var(--app-color-primary-contrast);
    }
  }
}

.divider {
  width: 100%;
  height: $border-width-thin;

  background-color: hsla(var(--app-color-dark-hsl), $opacity-20);

  margin: $spacing-1 0;
}
